fastapi
uvicorn
pydantic
pydantic-settings
langchain
langchain-groq
PyPDF2
numpy
scikit-learn
joblib
panda
python-dotenv
pyyaml
requests
streamlit
plotly
dotenv
pdfplumber
tiktoken
langchain-community